{% extends 'all-pages/base.html' %}

{% block content%}
{{block.super}}
            
            
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-6">
                       
                        <div class="card" style="width:600px">
                                <img class="card-img-top" src="https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image" style="width:100%">
                                <div class="card-body">
                                  <h4 class="card-title">kenyan tree</h4>
                                  <p class="card-text">jaramogo tree</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                              </div>
                             
                </div>
                <div class="col-md-4">

                </div>
            </div>
            
{% endblock %}