{% extends 'all-pages/base.html' %}

{% block content%}
{{block.super}}
           
    {% for post in posts %}

            <div class="post">
                
                
               
               
                
            </div>
   

    <div class="row">
             
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                   
                    <div class="card" style="width:600px">
                        <div class="card-header">
                                <div class="media">
                                    <hr>
                                        <img class="rounded-circle account-img" src="https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="80px" width="80px" style="border-radius: 50px">
                                        <div class="media-body">
                                        <hr>
                                        </div>
                                      </div>
                        </div>
                        <img src="{{post.photo.url}}" alt="" height="600px" width="100%"> 
                            <i class="glyphicon glyphicon-user" style="font-size:30px;"></i>
                            <i class="glyphicon glyphicon-scale" style="font-size:30px;"></i>
                            <i class="glyphicon glyphicon-heart" style="font-size:30px;color:grey;"></i>
                            <i class="glyphicon glyphicon-instagram" style="font-size:30px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>                              <div class="card-body">
                            <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                            <div>
                              <p>{{ post.bio|linebreaksbr }}</p>
                            </div>
                              <div class="date">
                                    {{ post.created_on }}
                                </div>
                               <div>
                                <p class="article-content">{{ post.content }}</p> 
                               </div>   
                                <button type="button" class="{{ status}} stat" id="like"> <a href="{% url 'profile'  %}"><i
                                  class="fa fa-heart-o  d-inline-flex icons" aria-hidden="true"><br>{{post.likes.count}}
                                  likes</i> </a></button>
                              <button type="button" class="{{status}} stat" id="comments" class="glyphicon glyphicon-comment"><a href="{% url 'profile'  %}">Comments: {{ post.comments.count }}</a></button>
                            <a href="{% url 'comments'  %}" class="btn btn-primary">comment</a>
                            </div>
                          </div>

                         
            </div>
            <div class="col-md-4">

            </div>
       
        </div>

  {% endfor %}

{% endblock %}